table, td{
    border: 1px solid black;
    border-collapse: collapse;
    cursor: pointer;
}

td{
    height: 18px;
    width: 18px;
    padding: 3px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

td.bomb{
    background-image: url(./images/bomb.png);
}

td.flag{
    background-image: url(./images/flag.png);
}

td.zero, td.one, td.two, td.three, td.four, td.five, td.six, td.seven, td.eight{
    background-color: rgb(100, 181, 100);
}