html{
    font-family: 'Courier New', Courier, monospace;
}

body div{
    width: fit-content;
    margin: auto;
}

table, td{
    border: 1px solid black;
    border-collapse: collapse;
    cursor: pointer;
}

td{
    height: 18px;
    width: 18px;
    padding: 3px;
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

td.bomb{
    background-image: url(./images/bomb.svg);
}

td.flag{
    background-image: url(./images/flag.png);
}

td.cross{
    background-image: url(./images/cross.svg);
}

td.zero, td.one, td.two, td.three, td.four, td.five, td.six, td.seven, td.eight{
    background-color: #ddd;
    font-weight: 700;
}

td.one{
    color: #00f;
}

td.two{
    color: #080;
}

td.three{
    color: #f00;
}

td.four{
    color: #008;
}

td.five{
    color: #800;
}

td.six{
    color: #088;
}

td.seven{
    color: #000;
}

td.eight{
    color: #777;
}

.game-over, .game-win{
    display: none;
}

.game-over input, .game-win input{
    font-family: 'Courier New', Courier, monospace;
}